/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

.slide{
  cursor:move;
  margin:5px;
  text-align:center;
}

.ui-state-highlight{
  height:150px;
  margin:5px;
  background-color: #EEEEEE;
}