/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

body {
    background-color: #E1E1E1;
    overflow: hidden;
}

.navbar {
    margin-bottom: 5px !important;
}

.breadcrumb {
    margin-bottom: 0px !important;
}

#admin_header {
    width: 1200px;
    margin: 0 auto;
    padding: 5px 0px;
}

#admin_mainframe {
    width: 1160px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: auto;
}

#admin_footer {
    width: 1180px;
    margin: 5px auto;
    padding: 5px 10px;
    height: 40px;
    color: #6F6F6F;
}

.home_logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -105px;
    margin-top: -50px;
    width: 210px;
    height: 100px;
}

#admin_content .pagination {
    margin-top: 20px !important;
    display: flex;
    list-style-type: none;
}

#admin_content .pagination .disabled {
    cursor: not-allowed;
}

#admin_content .pagination li {
    margin-right: 5px;
}

#admin_content .pagination a {
    padding: 10px 15px;
    display: block;
    text-align: center;
    line-height: 1;
    color: #333;
    text-decoration: none;
}

#admin_content .pagination .active a,
#admin_content .pagination li:hover a {
    color: #fff;
}

#admin_content .pagination .active,
#admin_content .pagination li:hover {
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}
