/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

/* dodawanie linku */
.url_type{
  width: 75px !important;
}

.url_box{
  position: relative;
}
.url_box_body{
  position: absolute;
  z-index:10;
  width: 400px;
  height: 50px;
  border: #7F7F7F 1px solid;
  background-color: #fff;
  padding: 20px;
  top: -40px
}

.insert_url{
  margin: 0 5px;
}

.url_error{
  float: left;
  color: #f00;
  width: 400px;
  height: 20px;
}

.close_url_box{
  position: absolute;
  z-index:11;
  top: 2px;
  right: 2px;
}

.add_url{

}

.required_error{
  border: #f00 1px solid !important;
}

.error_box, #ver_error{
  width:300px;
}

/*.form_list_checkbox_box{
  max-height: 200px;
  overflow: auto;
}*/

/*.form_list_checkbox{
  list-style-type:none;
  padding:0px;
  margin:0px;
}*/

.insert_image div, .insert_movie div, .insert_file div{
  width:100px;
  float:left;
  padding:5px;
  margin:5px;
  font-size:10px;
}

.border_round{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
}

.sortable_lis {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
  background-color:#fff;
}
.sortable_lis li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  border: 1px solid #DDDDDD;
  border-radius:4px;
  cursor: move;
}
.sortable_lis li span {
  position: absolute;
  margin-left: -1.3em;
}

.ui-state-highlight{
  height: 18px;
}

.sortable_bis {
  background-color: #F9F9F9 !important;
}

.form_dialog_select{
  background: transparent url('../gfx/form/dialog_select_bg.png') no-repeat right center;
}