/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */


html, body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.siteHTML{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position:relative;
}

label,.linklike{
  cursor: pointer;
}

.linklike {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.hr{
  clear: both;
  margin-bottom:5px;
  border-bottom: #E5E5E5 1px solid;
}

img{
  border: none;
}

.lowercase{
  text-transform: lowercase;
}

.uppercase{
  text-transform: uppercase;
}

.al_left{
  float: left;
}

.al_right{
  float: right;
}

.al_center{
  text-align: center !important;
}

.al_clear{
  clear:both;
}

.al_relative{
  position: relative;
}

.row1, .row2{
  float: left;
  color: #63798E;
  font-size:12px !important;
  margin:5px;
}

.row1{
  clear:both;
  width: 200px;
}

.row2{}

.row3{
  clear:both;
}

.row1 h3{
  margin: 0px;
  padding: 0px;
  font-size:18px;
}

iframe{
  border: none;
}

.noli{
  list-style-type: none;
}

label{
  display:inline !important;
  padding: 5px !important;
}

fieldset{
  border: #E5E5E5 1px solid !important;
  border-radius: 4px;
  padding: 20px;
  background-color: #F5F5F5;
}

legend{
  border-bottom: #fff 1px solid !important;
  width: auto !important;
  padding: 2px 30px 10px 30px;
  margin: 5px;
  background-color: #D0D0D0;
  color: #fff;
  text-shadow: #000 2px 2px 2px;
}

.pagination{
  margin: 0px !important;
}

.ajax_loader{
  width:100%;
  height:100%;
  background: transparent url('../gfx/ajax/loader1.gif') no-repeat center center;
}
.modal{
  overflow:auto!important;
}
.modal-header .close{
  position:fixed;
  top:12px;
  right:30px;
}
.modal.hide.in{
  display:block!important;
}