/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

#module_plugins li {
    float: left;
    font-size: 46px;
    list-style: none;
    padding-right: 20px;
}

#module_plugins i {
	color: #FFF;
  transition: all .3s linear;
}

#module_plugins i:hover {
  color: #fddede;
}

#module_plugins ul {
  padding: 0;
}