/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

#header_menu {
    list-style-type: none;
    margin: 50px 0px 0px 0px;
    padding: 0px;
}

#header_menu li {
    float: left;
    margin: 0px;
    padding: 0px;
}

#header_menu .separator {
    color: #E77A32;
    margin: 0px 20px;
}

#header_menu li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

#header_menu li a:hover {
    color: #E77A32;
}