/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

.footer_content {
    padding-top: 25px;
    color: #fff;
}

.footer_content a {
    color: #fff;
    text-decoration: underline;
}

.footer_content a:hover {
    color: #E77A32;
}