/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */


h1, h3, h4 a, i {
    color: #f35b5b;
}

a:hover {
    color: #e73232;
}

body {
    font-family: 'Palanquin', sans-serif;
}

#main_wrapper {
    /*display: flex;*/
    /*min-height: 100%;*/
    /*flex-direction: column;*/
}

#site_mainframe {
    flex: 1;
}

#site_logo {
    margin-top: 19px;
}

#site_logo img {
    max-height: 28px;
}

#main_wrapper {
    /*height: 100%;*/
    /*min-height: 100%;*/
}

#site_header_box {
    width: 100%;
    min-height: 75px;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    #site_header_box {
        min-height: 115px;
    }
}


#site_footer_box {
    width: 100%;
    min-height: 68px;
    height: 68px;
    background-color: #393939;
    color: white;
    font-weight: 300;
    font-size: 15px;
    white-space: nowrap;

}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#site_footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

#site_footer a {
    color: white;
    transition: all 0.3s linear;
}

#site_footer a:hover {
    color: #f35b5b;
    text-decoration: none;
}

@media (min-width: 768px) {
    #site_footer .right-left {
        float: left !important;
    }

    #site_footer {
        float: inherit;
    }
}

.right-sm-left {
    float: right;
}

@media (max-width: 767px) {
    .right-sm-left {
        float: left;
    }
}

#site_mainframe {
    margin-bottom: 30px;

}

aside {
    margin-top: 30px;
}

aside img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

p a {
    color: #f35b5b;
}


#home_content a {
    color: #f35b5b;
}

#list_letters {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#list_letters li {
    float: left;
    margin: 1px;
    margin-top: 10px;
}

#list_letters li a {
    color: #444344;
    font-weight: bold;
    background-color: #fddede;
    padding: 2px 7px;
}

#list_letters li.active a {
    color: #fff;
    background-color: #f35b5b;
}

#list_letters li a:hover {
    background-color: #e73232;
    color: #fff;
    text-decoration: none;
}

.home_search {
    color: #8C8C8C;
}

.home_search p {
    padding-top: 16px;
}

#search_box p {
    padding-top: 10px;
}


.home_input {
    border-bottom: #f35b5b 1px solid !important;
    border-top: 0px none !important;
    border-left: 0px solid !important;
    border-right: 0px solid !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #8C8C8C;
}

.search_input {
    height: 33px;
    width: 100%;
    margin-top: 4px;
    padding: 0 0 0 4px !important;
    color: #999 !important;
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.category_input {
    height: 47px;
    color: #999;
    line-height: 28px;
    padding-left: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.al_right {
    color: #f35b5b;

}

#search_box, #category_box {
    position: relative;
    z-index: 99;
}

@media (max-width: 768px) {

    #category_box {
        margin-top: 30px;
    }
}

input:focus, #category_box p:focus {
    outline-color: #f35b5b;
}

::-webkit-input-placeholder {
    color: #999;
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999;
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
    color: #999;
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon_search, .icon_category {
    position: absolute;
    top: 45px;
    right: 10px;
}

#home_text {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

#search_list {
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #fddede;
    padding: 1px;
    border: #f35b5b 1px solid;
}

#category_list {
    position: absolute;
    top: 66px;
    left: 0px;
    background-color: #fddede;
    padding: 1px;
    border: #f35b5b 1px solid;
}

.pagination > li > a {
    color: #393939;
}

.pagination > li > a:hover {
    background-color: #fddede;
    border-color: #fddede;
}


#search_list ul, #category_list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#search_list li, #category_list li {
    margin: 1px;
    padding: 5px;
    border: #fddede 1px solid !important;
    background-color: #fff;
}

#search_list li a {
    color: #10788E;
}

#search_list li a:hover {
    text-decoration: none;
}

#search_list li.active, #category_list li:hover {
    background-color: #f0f0f0;
}

/*
//checkbox
*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;

}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px !important;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

[type="checkbox"]:not(:checked) + label:before:hover,
[type="checkbox"]:checked + label:before:hover {
    background-color: red;
}

/* checked mark aspect */
/* Do Away With Radio Box Dotted Border */
radio[focused="true"] > .radio-label-box {
    border: none !important;
}

/* Do Away With Check Box Dotted Border */
checkbox:focus > .checkbox-label-box {
    border: none !important;
}

/* Radio Text Font Hover Color */
radio:hover {
    color: red !important;
}

/* Checkbox Text Font Hover Color */
checkbox:hover {
    color: red !important;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #f35b5b;
    transition: all .2s;
    position: absolute;
    top: calc(50% + -9px);
    transform: translateY(-50%);
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #f35b5b;
    background-color: #ddd;
}


[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #f35b5b;
}


/* hover style just for information */
label:hover:before {
    border: 1px solid #f35b5b !important;
}

.lred a {
    background-color: #f35b5b !important;
    border-color: #f35b5b !important;
}

.pagination ul > li > a {
    color: #f35b5b;
}

hr {
    border-color: #f35b5b;
}

.margin-top {
    margin-top: 30px;
}
