/**
 * @framework 3wymiar.pl 3.0 2002-2013 (c)
 *
 * @author Marcin Cichy <cichy@3wymiar.pl>
 * @version 1.0
 */

body {
    overflow: hidden;
}

#siteHTML {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    background: #fff url('../gfx/demo.jpg') no-repeat top center;
}